<!DOCTYPE html>
<html>

	<head>
		<title>EZBUS</title>
		<style type="text/css">
			body{
				background-color: skyblue; font-family: verdana; color: white; padding: 30px; text-align: center;
			}
			h1{
				font-size: 50px; text-transform: uppercase; letter-spacing: 2px; text-align: center;
			}
			input{
				padding: 12px 20px; margin: 8px 0;
			}
		</style>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- <script src="/login.js"></script> -->
	</head>

	<body>
		<h1>Register!</h1>
		<form method="post">
			<h2>Enter your Name: </h2><br>
			<input type="text" name="name"> <br>
			<h2>Enter an username you want to keep!</h2>
			<input type="text" name="username"><br>
			<h2>Enter your password: </h2>
			<input type="password" name="password"><br>
			<button type="submit" value="submit">REGISTER!</button>
		</form>
		<div>
			<p>Already have an account? <a href="login">Login here!</a></p>
		</div>
	</body>

</html>